---
title: Analyze AEM Cloud Manager Test Results 
description: Explore and fix the results of reports from AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
---

# Analyze test results

Explore any compilation errors in your code and whether or not this code follows best practices for AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)