---
title: Analyze AEM Cloud Manager Test Results
description: Explore and fix the results of reports from AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
---
# Analyze test results {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analyze test results"
>abstract="IExplore any compilation errors in your code and whether or not this code follows best practices for AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Understand your Test Results"

Explore any compilation errors in your code and whether or not this code follows best practices for AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
