---
title: Analyze AEM Cloud Manager Test Results
description: Explore and fix the results of reports from AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
TQID: https://experienceleague.adobe.com/tKAfoJJb9ibgYHeboMd9aJjWSBhnu3HJxSwP6OTo5Y8
product_v2:
  - id: fd1f54a9-f50c-467d-8956-cebbaf4f3eb8
    internal-label: Experience Manager
feature_v2:
  - id: f2d27a5f-0d67-4d85-8a24-86a8d8a3574b
    internal-label: Developer tools
role_v2:
  - id: ff6a42d2-313e-452e-93a6-792e4fad9ff8
    internal-label: Developer
level_v2:
  - id: e8ccd51f-da0d-4e3b-939b-e30d5ebb1ea5
    internal-label: Beginner
topic_v2:
  - id: d095671a-1355-40aa-8b5f-06c33c68080b
    internal-label: Security
  - id: eddd9b14-83bd-4ff4-9072-54a4a484abb7
    internal-label: Administration
---
# Analyze test results {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analyze test results"
>abstract="IExplore any compilation errors in your code and whether or not this code follows best practices for AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Understand your Test Results"

Explore any compilation errors in your code and whether or not this code follows best practices for AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
